html {
    font-size: 62.5%;
    font-family: big-caslon-fb, serif;
}

:root {
    --bg-color: #fff3b0;
    --text-color: #313131;
    --highlight-color: #ffc8dd;
}

body {
    background: var(--bg-color);
    
}

a {
    text-decoration: underline;
    font-weight: 600;
    color: var(--text-color);
}

p {
    margin: 0;
}

.p-link {
    display: inline;
}

.lang-link {
    margin: 0;
}

.lang-link:hover {
    cursor: pointer;
}

.on {
    display: block;
}

.off {
    display: none;
}

.name {
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.content {
    font-size: 3rem;
    line-height: 4rem;
    color: var(--text-color);
    max-width: 50%;
    text-align: justify;
    margin: 12rem auto;
}

.content-block {
    margin-bottom: 1.5rem;
}

::selection {
    background: var(--highlight-color); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--highlight-color); /* Gecko Browsers */
}

@media screen and (max-width: 900px) {
    .content {
        font-size: 1.8rem;
        margin: 10rem auto;
        text-align: left;
        max-width: 80%;
    }
}
  